body{
    padding: 0;
    margin: 0;
}
.fon{
    position: relative;
    width: 100%;
    height: 30rem;
    background-color: rgb(255, 255, 255);
}
.fon-nav{
    display: flex;
    justify-content: space-between;
    margin-left: 9rem;
    height: 2rem;
    background-color:rgb(0, 140, 255) ;
}
.aviasales{
    color: white;
    font-size: 30px;
}

.btn12{
    background-color:rgb(0, 140, 255) ;
    color: white;
    border: solid rgb(0, 140, 255);
    margin-top: 1rem;
    font-size: 20px;
    border-radius: 12px;
    &:hover
    {
        cursor: pointer;
        background-color: rgb(65, 169, 255);
        transition: 1s;
    }
}
.prof-desc
{
    position: relative;
    width: 15rem;
    height: 15rem;
    left: 10rem;
    top: 5rem;
    border-radius: 1rem;
    background-color: white;
}
.sett
{
    width: 15rem;
    height: 3rem;
}
.sett-img
{
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: rgb(225, 225, 225);
}

.search-ticket{
    font-size: 50px;
    margin-left: 29rem;
    margin-top: 5rem;
    color: white;
}
.header-title{
    color: white;
    margin-left: 37rem;
}
.btn-ticket{
    margin-left: 40rem;
    background-color:rgb(71, 167, 245) ;
    color: white;
    border: solid rgb(0, 140, 255);
    width: 120px;
    height: 40px;
    border-radius:10px;
    &:hover{
        cursor: pointer;
        background-color: white;
        color: rgb(0, 140, 255);
    }
}
.btn-hotel{
    background-color:rgb(71, 167, 245) ;
    color: white;
    border: solid rgb(0, 140, 255);
    width: 120px;
    height: 40px;
    border-radius:10px; 
    &:hover{
        cursor: pointer;
        background-color: white;
        color: rgb(0, 140, 255);
    }
}
.search-bilet{
    position: relative;
    left: 1rem;
    top: -0.8rem;
     margin-left: 75rem;
    margin-top: 2rem;  
    text-align: center;
    width: 10rem;
    height: 3.7rem;
    background-color: rgb(250, 112, 62);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
        background-color: rgb(249, 97, 42);
    }
}
.otkuda-div{
    background-color: white;
    width: 10rem;
    height: 3.2rem;
    margin-left: 5rem;
    margin-top:-4.5rem;
    border-radius: 10px;   
}    
.otkuda{
    margin-left: 1rem;
    padding-left: 1rem;
    background-color: white;
    width: 10rem;
    height: 3.2rem;
    border: solid white; 
    &:hover
    {
        border: 2px solid white; 
    }
}
.div-info{
    display: flex;
    margin-left:8rem ;
}
.inp-kuda{
    margin-left: 1rem;
    margin-top: -4.6rem;
    padding-left: 1rem;
    background-color: white;
    width: 10rem;
    height: 3.5rem; 
    border: solid rgb(0, 140, 255);
    &:hover{
        border: solid orange;
    }
}
.inp-date{
    margin-top: -4.6rem;
    margin-left: -1rem;
    width: 10rem;
    height: 3.6rem;
    background-color: white;
    border: solid rgb(0, 140, 255);
}
.obratno{
    margin: -4.6rem;
    margin-left: -0.2rem;
    width: 10rem;
    height: 3.5rem;
    background-color: white;
    border: solid rgb(0, 140, 255);
}
.oplata{
    
    margin: -4.6rem;
    margin-left: 4.5rem;
    width: 10rem;
    height: 3.5rem;
    background-color: white;
    border: solid rgb(0, 140, 255);
}
.passen{
    margin: -4.6rem;
    margin-left: 4rem;
    width: 10rem;
    height: 3.5rem;
    background-color: white;
    border: solid rgb(0, 140, 255);
}
.logo-img{
    width: 30px;
    height: 30px;
    margin-top: 8px ;
}

.down_countries
{
    width: 100rem;
    height: 50rem;
}
.navigator
{
    width: 4rem;
    height: 4rem;
    margin-left: 45rem;
    margin-top: 5rem;
}

.pop
{
    font-weight: 1000;
    margin: 3rem 30rem;
}
.tri
{
    display: flex;
    justify-content: center;
    width: 100rem;
    height: 4rem;
    margin-bottom: 3rem;    
}
.dropdown-toggle
{
    display: flex;
    width: 17rem;
    height: 4rem;
    margin-left: 2rem;
    color: blue;
    border-radius: 13px;
    border: 2px solid rgb(240, 240, 240);
    background-color: rgb(239, 239, 239);
    &:hover
    {
        background-color: rgba(28, 28, 252, 0.467);
        border: 2px solid rgba(38, 38, 252, 0.467);
    }
}
.flag
{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.coname
{
    margin-left: 1rem;
}
.down_p
{
    position: absolute;
    width: 22.5rem;
    height: 22.5rem;
    background-color: aqua;
    border-radius: 20px;
    margin: 0rem 21.5rem;
}
.fon_2kubik{
    position: absolute;
    width: 22.5rem;
    height: 22.5rem;
    background-color: aqua;
    border-radius: 20px;
    margin: 0rem 51.5rem;
}
.fon_1kubik-h1{
    font-size: 2.5rem;
    font-weight: 1000;
    margin: 1.5rem 2.5rem;
}
.fon_1kubik-p{
    font-weight: 800;
    margin: -1.8rem 2.6rem;
}
.fon_1kubik-div{
    position: absolute;
    width: 20rem;
    height: 10rem;
    border-radius: 20px;
    background-color: blue;
    margin: 3.7rem 1.21rem;
}
.fon_1kubik-div_h1{
    margin: 1rem 2rem;
}
.carusel{
    position: absolute;
    /* width: 22rem; */
    margin: 3rem 1rem;
}
.img-1{
    width: 20.5rem;
    height: 11.5rem;
    border-radius: 20px;
}
.fon_2kubik-img{
    border-radius: 20px;
}
.plakat{
    position: relative;
    width: 52.8rem;
    height: 35rem;
    border-radius: 20px;
    background-color: aquamarine;
    left: 21.55rem;
    bottom: 2rem;
}
.plakat_h1{
    position: absolute;
    margin: 2rem 2.5rem;
}
.plakat_p{
    position: absolute;
    margin: 4.8rem 2.6rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.plakat_img1{
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
    margin: 8rem 2.6rem;
}
.plakat_img1-p{
    position: absolute;
    margin: 18.5rem 2.9rem;
    font-size: 1.1rem;
    font-weight: 400;
}
.plakat_img1-icon{
    position: absolute;
    margin: 20.5rem 2.8rem;
}
.plakat_img1-icon-h6{
    position: absolute;
    margin: 20.5rem 4.5rem;
}
.plakat_img2{
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
    margin: 8rem 15rem;
}
.plakat_img2-p{
    position: absolute;
    margin: 18.5rem 15.3rem;
    font-size: 1.1rem;
    font-weight: 400;
}
.plakat_img2-icon{
    position: absolute;
    margin: 20.5rem 15.2rem;
}
.plakat_img2-icon-h6{
    position: absolute;
    margin: 20.5rem 16.9rem;
}
.plakat_img3{
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
    margin: 8rem 27.5rem;
}
.plakat_img3-p{
    position: absolute;
    margin: 18.5rem 27.8rem;
    font-size: 1.1rem;
    font-weight: 400;
}
.plakat_img3-icon{
    position: absolute;
    margin: 20.5rem 27.7rem;
}
.plakat_img3-icon-h6{
    position: absolute;
    margin: 20.5rem 29.4rem;
}
